<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.learn.dao.RepayRequestDao">
    <select id="selReq" parameterType="com.learn.entity.RepayRequest" resultType="com.learn.entity.RepayRequest">
        SELECT
            *
        FROM
            REPAY_REQUEST
        <where>
            <if test="null != param.repaySeq">
                REPAY_SEQ = #{param.repaySeq}
            </if>
        </where>
    </select>
</mapper>